#!/bin/sh

# QEMU config for propaganda
#!/bin/sh

QEMU_MEM="160" # memory in megabytes
QEMU_MONITOR="stdio" # 'vc' if using a GUI, 'stdio' if running in console mode
QEMU_BOOT="c" # # a == floppy, c == hard drive, d == cd rom
QEMU_SOUNDHW="all" # use -soundhw ? to get a list
QEMU_HDA="disks/disk1.qcow2" # created with qemu-img
QEMU_KERNEL="vmlinuz-${KERNEL_VER}-lack"
QEMU_APPEND="console=ttyS0,9600n8 console=tty0 run=init" # extra kernel args
# extra arguments passed into QEMU; usually -redir
EXTRA_ARGS="-redir tcp:28000::8000 -redir tcp:4201::4200 "
EXTRA_ARGS="$EXTRA_ARGS -redir tcp:7768::7767 -redir tcp:8001::8000"
EXTRA_ARGS="$EXTRA_ARGS -cdrom /opt/sourcecode/ISO_Projects/isos/propaganda-full.2009.6.x86.iso"
#EXTRA_ARGS="$EXTRA_ARGS -hdd fat:/media/disk/newrips/Cirith\ Ungol/King\ Of\ The\ Dead"
#EXTRA_ARGS="-cdrom /Users/Shared/Files/ISOs/debian-LennyBeta2-i386-CD-1.iso"
# vim: set paste ft=sh :
